{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <form action="">
                    
                </form>
            </div>
        </div>
        <div class="col-md-6 mt-4 bg-white prof mr-2 ml-2">
            <img class="rounded-circle account-img d-block mx-auto" src="{{ user.profile.profile_picture.url }}"height="125px" width="125px">
            <h5 class="text-center mt-3">{{user.username}}</h5>
            <p class="text-center"> {{user.email}}</p>
            <div class="mb-3">
                <h6>User Details</h6>
                <hr>
                <span>User locatio:{{user.location}}</span><br>
                <hr>
                <span>User Neighbourhood: {{user.neighbourhood}}</span><br>
                <hr>
                <div class="mb-3"
                >
                    <span><em>All rights reserved for only me!</em></span>
                </div>
                <hr>
            </div>
            
        </div>
        <!-- <div class="col-md-3"></div> -->
    </div>


</div>
{% endblock %}


