{% extends 'base.html' %}
{% block content %}
<div class="banner" style="
    background-image: url('https://images.pexels.com/photos/1557549/pexels-photo-1557549.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') ;
    background-repeat: no-repeat;
    height: 70vh;
    background-size: cover;

">
        
</div>
<div class="container">
    
    <h1 class="text-center">Welcome to Another Episode of The NeighbourHood</h1>
        <a href="{% url 'create_new' %}" class="btn btn-outline-success bt mb-3 "> New NeighbourHood</a>
    <div class="row">
        {% for hood in neighbourhoods %}
        <div class="col-md-4">
            <div class="card mb-4" style="min-height:340px">
                
                <div class="card-body">
                    <h5 class="card-title">{{ hood.name }}  ({{hood.location}}) <span class="ml-4">{{hood.occupants_count}} members</span></h5>
                    <p class="card-text">{{hood.description}}</p>
                    
                    {% if request.user.profile.neighbourhood == hood %}
                    <a href="{% url 'vacate' hood.id%}" class="btn btn-outline-danger btn-sm">Move Out</a>
                    {% elif not request.user.profile.neighbourhood %}
                    <a href="{% url 'move_in' hood.id %}" class="btn btn-primary btn-sm">Move In</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}