{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-4">
          
            <div class="card">
                <h5 class="text-center" >{{Post.title}}</h5>
                <p>{{ Post.post}}</p>
                <span><small>{{Post.created_at}}</small></span>
            </div>
        </div>
        <div class="col-md-8 bg-white poster">
            <h3 class="text-center  ">Create a post about your NeighbourHood</h3>
            <form action="" method="post" >
                {% csrf_token %}
                {% bootstrap_form form%}
                <button type="submit" class="btn btn-outline-success "> Post</button>
            </form>
        </div>
        
    </div>

</div>
{% endblock %}